@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --primary: #181818;
    --secondary: #fd6e0a;
}

p {
    color: #757575;
}

hr {
    border: 1px solid #ddd;
}

.btn-primary {
    background-color: var(--secondary);
    padding: 15px 35px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}

.btn-secondary {
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    background: transparent;
}

section {
    margin: 60px 166px;
}

.section-description {
    padding: 15px;
    text-align: center;
}

.section-description h3 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 35px;
}

.section-description p {
    line-height: 30px;
    font-size: 18px;
}

/* Header Area */
.header-area {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* nav related css */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 116px 0px 166px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

.nav-title span {
    color: var(--secondary);
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #474747;
    font-size: 20px;
}

/* Banner Area */
.banner-area {
    padding: 40px 40px 0px 166px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    width: 500px;
}

.banner-area h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-area h1 {
    font-size: 85px;
    font-weight: 700;
}

.banner-area p {
    margin: 20px 0px 30px 0px;
}

.banner-content>.btn-primary {
    margin-right: 20px;
}

/* About section */
.about {
    background-color: #FFF8F3;
    margin: 60px 266px;
    text-align: center;
    padding: 60px 110px;
}

.about-info {
    border: 1px solid #474747;
    background-color: #fff;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.single-info h4 span {
    display: block;
    font-weight: 700;
}

.single-info h4 {
    font-size: 18px;
    font-weight: 400;
}

/* services section */
.service-area>.section-description {
    margin: 0 125px;
}

.service-area>.section-description {
    margin: 0 125px 30px;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-service {
    flex-basis: 23%;
    box-shadow: 0px 6px 50px #ddd;
    padding: 20px;
}

/* Resume Section CSS */
.resume-area>.section-description {
    margin-bottom: 50px;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.resume-column {
    flex-basis: 49%;
}

.resume-title h3 {
    font-size: 30px;
    color: #474747;
}

.resume-qualification h4 {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-top: 20px;
}

.resume-qualification h6 {
    font-size: 20px;
    color: #757575;
    font-weight: 600;
}

.resume-qualification p {
    margin-top: 20px;
}

.quali-description {
    padding-right: 100px;
    padding-bottom: 20px;
}

section.resume-area>.btn-primary {
    margin: 40px auto 0px;
    display: block;
}

/* footer Area CSS */
footer {
    padding: 60px 160px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff8f3;
    gap: 6%;
}

.contact-item {
    flex-basis: 47%;
}

.contact-item h3 {
    font-size: 35px;
    color: #474747;
}

.contact-item p {
    margin: 25px 0;
}

.social-links a {
    margin-right: 15px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    display: block;
    width: 80%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    box-shadow: 0px 6px 50px #ddd;
}

.contact-form [type="submit"] {
    margin-top: 15px;
}